body {
    overflow: hidden;
}

#root {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

div#navigation-grid {
    width: 20rem !important;
}

.ui.items>.item>.image+.content {
    padding: 1.5em;
}

.ui.three.column.grid {
    background-color: #252836 !important;
    height: 100vh;
    margin: 0;
}

div#expenses-grid { width: 42vw; }

.ui.items {
    overflow-y: scroll;
    height: 49vh;
    width: 38.5vw;
}

.ui.segments {
    width: 40vw;
}

.ui.segment {
    border-radius: 30px !important;
}