/* Overriden Semantic UI*/
#root {
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: #403D51;
    height: 100%;
}

h1.ui.header {
    font-size: 2rem;
    width: 75%;
    margin-left: 16vw;
}

.ui.search .prompt {
    border-radius: 0 !important;
    width: 20rem;
}

/* Setting the header's height */
.ui.inverted.pointing.vertical.menu {
    height: 100% !important;
}

.ui.segment  {
    /* padding-left: 14% !important; */
    width: 75vw;
    padding-bottom: 0px;
    height: 100vh;
}

.ui.segments {
    margin-left: 7rem;
}

#navigation-grid {
    width: 15%;
}

#expenses-grid {
    width: 75%; /**/
    position: absolute;
    left: 13rem;
    top: -1rem;
    bottom: -53rem;
}

/* Test */
.ui.items {
    height: 70vh;
    width: 40vw;
    margin: 0 auto;/**/
    overflow-y: scroll;
}